extends layout

block head
  script(src='javascripts/Cell.js')
  script(src='javascripts/ColorCell.js')
  script(src='javascripts/Minefield.js')
  script(src='javascripts/Minesweeper.js')
  script(src='javascripts/ImageMinesweeper.js')

block content
  p #{cells}
