extends layout

block head
  script.
    cells = !{JSON.stringify(cells)};
    currentId = '#{id}';
  script(src='javascripts/Timer.js')
  script(src='javascripts/Cell.js')
  script(src='javascripts/ColorCell.js')
  script(src='javascripts/Minefield.js')
  script(src='javascripts/Minesweeper.js')
  script(src='javascripts/ImageMinesweeper.js')
  script(src='javascripts/PokeUtil.js')
  script(src='javascripts/Pokesweeper.js')
  script(src='javascripts/names.js')
  script(src='javascripts/index.js')

block content
  h1#pageTitle
    a(name='Pokesweeper' href='/') Pokesweeper
  #selectionContainer
    select#dropdown.selectionClickable(onchange='selectPokemon()')
    button#random.selectionClickable(onclick='chooseRandom()') Random Pokémon
    button#randomUnsolved.selectionClickable(onclick='chooseRandomUnsolved()') Random unsolved Pokémon
  #counters
    #bombContainer.counterContainer
      #bombCounter.counter
      #bombLabel BOMBS
    #timeContainer.counterContainer
      #timeCounter.counter 0
      #timeLabel TIME
    #highScoreContainer.counterContainer
      #highScoreCounter.counter
      #highScoreLabel BEST
    #pokedexContainer.counterContainer
      #pokedexCounter.counter
      #pokedexLabel POKÉDEX
  #resetButton
  
  #field
  
  #footer
    p The difficulty increases with the Pokémon's position in the regional Pokédex.
    p
      | View on 
      a(href='https://github.com/takumif/pokesweeper' name='GitHub' target='blank') GitHub
      | . Created by 
      a(href='http://www.takumifujimoto.com' name='Takumi Fujimoto' target='blank') Takumi Fujimoto
      | .
  #share.
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_tumblr"></a>
    </div>
    <script type="text/javascript">
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "Pokesweeper";
    a2a_config.linkurl = "pokesweeper.takumifujimoto.com";
    </script>
    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
  #cache