body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #606060;
  text-decoration: none;
}

p {
  text-align: center;
}

#content {
  width: 850px;
  margin: auto;
}

h1#pageTitle {
  text-align: center;
}

#selectionContainer {
  width: max-content;
  margin: auto;
}

.selectionClickable {
  width: 200px;
  margin: 10px;
}

#counters {
  width: max-content;
  margin: 10px auto;
  overflow: auto;
}

.counterContainer {
  float: left;
  width: 150px;
  text-align: center;
}

.counter {
  font-size: 20px;
}

#resetButton {
  height: 40px;
  width: 40px;
  margin: 10px auto;
  background-image: url('/images/pikachu_button.png');
  background-size: cover;
  cursor: pointer;
}

#resetButton:active {
  background-image: url('/images/pikachu_button_pressed.png');
}

#field {
  width: max-content;
  margin: 20px auto;
  overflow: auto;
}

#footer {
  width: max-content;
  margin: auto;
  padding: 20px;
  clear: both;
}

#share {
  width: max-content;
  margin: 20px auto;
}

#cache {
  display: none;
}

/****************** GAME STUFF ******************/

.row {
  clear: both;
}

.cell {
  height: 20px;
  width: 25px;
  padding-top: 5px;
  float: left;
  color: white;
  text-shadow: 0 0 2px black;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-size: cover;
}

.unopenCell {
  cursor: pointer;
  background-image: url('/images/pattern.png');
}

.unopenCell:active {
  background-image: none;
  background-color: #C0C0C0;
}

.flaggedCell {
  cursor: pointer;
  background-image: url('/images/pattern_flagged.png');
}

.bombCell {
  cursor: pointer;
  background-image: url('/images/bomb_cell.png');
}

/****************** POKEDEX ******************/

#pokedexCounter {
  text-align: center;
}

#pokedexGrid {
  width: 600px;
  margin: auto;
}

.pokedexCell{
  float: left;
  width: 60px;
  height: 60px;
}

.pokedexCell a {
  width: inherit;
  height: inherit;
}

.pokedexSprite {
  width: inherit;
  height: inherit;
}

.pokedexNonSolved {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.pokedexNonSolved:hover {
  opacity: 1;
}